<html>
    <head>
        <title>{{ title }}</title>
        <style>
            .txt {
                width: 500px;

            }
            .block{
                width=80%;
            }
        </style>
    </head>
    <body>
    <div class="block">
        <h3>Введите текст</h3>
        <form action="{{ url_for('handle_data') }}" method="post">
            <textarea rows="8" name="text" class="txt"></textarea>
            <p><input type=submit></p>
        </form>
        <h3>Текст</h3>
        <div><p>{{ text }} </p></div>
        <h4>Всего слов: {{ tokensCount}}</h4>
        <h4>Уникальзых слов: {{ uniqueWords }}</h4>
        <h3>Слова из текста</h3>
        <div>
            {% for token in tokens %}
            {{ token }}: {{tokens[token]}}<br>
            {% endfor %}
        </div>
    </div>
    </body>
</html>